{% extends 'base.html' %}

{% block content %}
  <div class="container" style="margin: 100px;">
    <div class="card" style="border-radius: 8px;">
      <img src="/static/img/boy.png" alt="Item 2" style="border-radius: 8px;">
      <h3>Ashish kanwat</h3>
      <div class="social-media">
        <a href="https://www.instagram.com/kanwat__ashish/" target="_blank"><img src="/static/img/instagram.png" alt="Instagram"></a>
        <a href="https://www.facebook.com/your_facebook_username" target="_blank"><img src="/static/img/facebook.png" alt="Facebook"></a>
        <a href="https://www.gmail.com"><img src="/static/img/gmail.png" alt="Gmail"></a>
        <a href="https://www.linkedin.com/in/your_linkedin_username" target="_blank"><img src="/static/img/linkedin.png" alt="LinkedIn"></a>
      </div>
    </div>
    <div class="card" style="border-radius: 8px;">
      <img src="/static/img/boy.png" alt="Item 2" style="border-radius: 8px;">
      <h3>Naman Singh</h3>
      <div class="social-media">
        <a href="https://www.instagram.com/kanwat__ashish/" target="_blank"><img src="/static/img/instagram.png" alt="Instagram"></a>
        <a href="https://www.facebook.com/your_facebook_username" target="_blank"><img src="/static/img/facebook.png" alt="Facebook"></a>
        <a href="https://www.gmail.com"><img src="/static/img/gmail.png" alt="Gmail"></a>
        <a href="https://www.linkedin.com/in/your_linkedin_username" target="_blank"><img src="/static/img/linkedin.png" alt="LinkedIn"></a>
      </div>
    </div>
    <div class="card" style="border-radius: 8px;">
      <img src="/static/img/boy.png" alt="Item 2" style="border-radius: 8px;">
      <h3>Vishal kumar</h3>
      <div class="social-media">
        <a href="https://www.instagram.com/kanwat__ashish/" target="_blank"><img src="/static/img/instagram.png" alt="Instagram"></a>
        <a href="https://www.facebook.com/your_facebook_username" target="_blank"><img src="/static/img/facebook.png" alt="Facebook"></a>
        <a href="https://www.gmail.com"><img src="/static/img/gmail.png" alt="Gmail"></a>
        <a href="https://www.linkedin.com/in/your_linkedin_username" target="_blank"><img src="/static/img/linkedin.png" alt="LinkedIn"></a>
      </div>
    </div>
    <div class="card" style="border-radius: 8px;">
      <img src="/static/img/boy.png" alt="Item 2" style="border-radius: 8px;">
        <h3>Jagveer Singh</h3>
        <div class="social-media">
            <a href="https://www.instagram.com/kanwat__ashish/" target="_blank"><img src="/static/img/instagram.png" alt="Instagram"></a>
            <a href="https://www.facebook.com/your_facebook_username" target="_blank"><img src="/static/img/facebook.png" alt="Facebook"></a>
            <a href="https://www.gmail.com"><img src="/static/img/gmail.png" alt="Gmail"></a>
            <a href="https://www.linkedin.com/in/your_linkedin_username" target="_blank"><img src="/static/img/linkedin.png" alt="LinkedIn"></a>
          </div>
      </div>
      <div class="card" style="border-radius: 8px;">
        <img src="/static/img/boy.png" alt="Item 2" style="border-radius: 8px;">
        <h3>Vaibhav Singh</h3>
        <div class="social-media">
            <a href="https://www.instagram.com/kanwat__ashish/" target="_blank"><img src="/static/img/instagram.png" alt="Instagram"></a>
            <a href="https://www.facebook.com/your_facebook_username" target="_blank"><img src="/static/img/facebook.png" alt="Facebook"></a>
            <a href="https://www.gmail.com"><img src="/static/img/gmail.png" alt="Gmail"></a>
            <a href="https://www.linkedin.com/in/your_linkedin_username" target="_blank"><img src="/static/img/linkedin.png" alt="LinkedIn"></a>
          </div>
      </div>
      <div class="card" style="border-radius: 8px;">
        <img src="/static/img/boy.png" alt="Item 2" style="border-radius: 8px;">
        <h3>Rahul Mehta</h3>
        <div class="social-media">
            <a href="https://www.instagram.com/kanwat__ashish/" target="_blank"><img src="/static/img/instagram.png" alt="Instagram"></a>
            <a href="https://www.facebook.com/your_facebook_username" target="_blank"><img src="/static/img/facebook.png" alt="Facebook"></a>
            <a href="https://www.gmail.com"><img src="/static/img/gmail.png" alt="Gmail"></a>
            <a href="https://www.linkedin.com/in/your_linkedin_username" target="_blank"><img src="/static/img/linkedin.png" alt="LinkedIn"></a>
          </div>
      </div>
    </div>
{% endblock %}
