{% extends 'base.html' %}

{% block content %}
  <h1 style="margin-top: 100px;">You can see Pre Demo Video</h1>
  <div class="container" style="margin-top: 80px">
    <div class="card" style="border-radius: 8px;">
        <iframe width="250" height="200" style="border-radius: 8px;" src="https://youtube.com/embed/kqtD5dpn9C8" allowfullscreen></iframe>
        <h3>Python</h3>
    </div>
    <div class="card" style="border-radius: 8px;">
        <iframe width="250" height="200" style="border-radius: 8px;" src="https://youtube.com/embed/ER9SspLe4Hg" allowfullscreen></iframe>
        <h3>JavaScript</h3>
    </div>
    <div class="card" style="border-radius: 8px;">
        <iframe width="250" height="200" style="border-radius: 8px;" src="https://youtube.com/embed/QFaFIcGhPoM" allowfullscreen></iframe>
        <h3>React</h3>
    </div>
</div>

{% endblock %}
